<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctanos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'contactanosStyles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <!--FUENTES-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+IT+Moderna:wght@100..400&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Habibi&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <!-- HEADER -->
    <header>
        <div class="header_style">
            <div class="contenido_header">
                <div class="left_section">
                    <a href="{% url 'index-url' %}"><img class="logo" src="{% static 'img/logo.png' %}"
                            alt="Logo de Escapada 503"></a>
                    <h2 class="header_titulo">Escapada 503</h2>
                </div>
                <div class="barraBusqueda">
                    <label class="lbl_busqueda">Busqueda</label>
                    <input class="searchInput barra" type="text">
                </div>
                <div class="hamburger">
                    &#9776;
                </div>


            </div>

            <div class="menu_opcionesHeader" id="menu_opcionesHeader">

                <div class="barraBusqueda_Menu">
                    <label class="lbl_busqueda">Busqueda</label>
                    <input class="searchInput barra" type="text">
                </div>
                <a href="{% url 'nosotros-url' %}">Más sobre nosotros</a>
                <a href="{% url 'guias-url' %}">Guías Turísticos</a>
                <a href="{% url 'paquetes-url' %}">Paquetes</a>
                <a href="{% url 'blog-url' %}">Blog</a>
                <a href="{% url 'contactanos-url' %}">Contáctanos</a>

                <!-- Nueva sección de usuario -->
                <div class="user_section">
                    <div class="user_info" id="userInfo">
                        <span class="user_name">{{user.username}}</span>
                        <span class="user_menu">&#9662;</span>
                    </div>
                    <div class="user_options" id="userOptions">
                        <a href="{% url 'reservas' %}">Reservas</a>
                        <a href="{% url 'perfil' %}">Editar info</a>
                        <a href="{% url 'cambioContraseña' %}">Cambiar Contraseña</a>
                        <a href="{% url 'login' %}" id="logoutLink">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--FORMULARIO DE CONTACTO-->
    <h1 class="form_encabezado contenido">Contáctanos</h1>
    <h3 class="form_frase">Tu opinión es importante para nosotros. Envíanos tus comentarios y sugerencias</h3>
    <form method="post" action="{% url 'contactanos-url' %}">
        {% csrf_token %}
        <div class="form_contenedor contenido">
            <div class="form_filaCampos">
                <div class="form_campos">
                    <label>Nombres:</label>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                    <div class="error">{{ form.first_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="form_campos">
                    <label>Apellidos:</label>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                    <div class="error">{{ form.last_name.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="form_filaCampos">
                <div class="form_campos">
                    <label>Número de contacto:</label>
                    {{ form.telefono }}
                    {% if form.telefono.errors %}
                    <div class="error">{{ form.telefono.errors }}</div>
                    {% endif %}
                </div>

                <div class="form_campos">
                    <label>Correo Electrónico:</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="form_comentario">
                <label>Comentario:</label>
                {{ form.comentario }}
                {% if form.comentario.errors %}
                <div class="error">{{ form.comentario.errors }}</div>
                {% endif %}
            </div>
            <div class="form_btnenviar">
                <button type="submit">ENVIAR</button>
            </div>
        </div>

    </form>

    <!--Apartado del Footer-->
    <footer>
        <div class="footer_style">
            <div clas=footer_contenido>
                <div>
                    <h2 class="footer_titulo">Escapada 503</h2>
                </div>

                <div class="contactos">
                    <a href="#"><img src="{% static 'img/instagram.png' %}"></a>
                    <a href="mailto:ejemplo@gmail.com"><img src="{% static 'img/correo.png' %}"></a>
                    <a href="https://wa.me/78776390"><img src="{% static 'img/whatsapp.png' %}"></a>
                    <a href="tel:+50378776390"><img src="{% static 'img/Telefono.png' %}"></a>
                </div>

                <div class="menu_opciones">
                    <a href="{% url 'nosotros-url' %}">Más sobre nosotros</a>
                    <a href="{% url 'guias-url' %}">Guías Turísticos</a>
                    <a href="{% url 'paquetes-url' %}">Paquetes</a>
                    <a href="{% url 'blog-url' %}">Blog</a>
                    <a href="{% url 'contactanos-url' %}">Contáctanos</a>
                </div>

                <div class="derechos">
                    <p>
                        Copyright © 2024 Escapada 503. Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const logoutLink = document.getElementById('logoutLink');

            if (logoutLink) {
                logoutLink.addEventListener('click', function (event) {
                    const isConfirmed = confirm("¿Estás seguro de que quieres cerrar sesión?");
                    if (!isConfirmed) {
                        event.preventDefault(); // Evita que el enlace sea seguido
                    }
                });
            }
        });
    </script>
    <script src="{% static 'contactoScripts.js' %}"></script>
</body>

</html>