<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
</head>
<body>
    <h1>Inicio</h1>
    <a href = "{% url 'perfil' %}">Perfil</a>
    <a href="{% url 'login' %}">Cerrar Sesión</a>
    <a href="{% url 'paquetes-url' %}">Paquetes</a>
    <a href="{% url 'guias-url' %}">Guias</a>
    <a href="{% url 'contactanos-url' %}">Contactanos</a>
</body>
</html>